# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.vscode/
.DS_Store
.claude/
claude.md

# logs
*.log
*.log.gz
logs/

repo
tools/